[2016-07-28 22:23] curran opened #1 "Ability to combine/separate voices"

[2016-07-28 22:24] curran opened #2 "Highlight highest and lowest notes"

[2016-07-28 22:24] curran opened #3 "Measure numbers"

[2016-07-28 22:25] curran opened #4 "Mensuration signs"

[2016-07-28 22:25] curran opened #5 "Section lines and labels"

[2016-07-28 22:25] curran opened #6 "Horizontal pitch reference lines and labels"

[2016-07-28 22:26] curran opened #7 "Add checkbox to show/hide note view"

[2016-07-28 22:26] curran opened #8 "Add checkbox to show/hide ribbon chart"

[2016-07-28 22:26] curran opened #9 "Encode pitch variation (windowed standard deviation) of as ribbon width"

[2016-07-28 22:27] curran opened #10 "Encode rhythmic activity (attack density) as ribbon width"

[2016-07-28 22:27] curran opened #11 "Add radio buttons to toggle between the two ribbon width encodings"

[2016-07-28 22:27] curran opened #12 "Measure-based fixed scaling"

[2016-07-28 22:28] curran opened #13 "Zoomed in view shows only the brushed voice"

[2016-07-28 22:28] curran opened #14 "Replace vertical lines that accompany cursor with a single vertical line"

[2016-07-28 22:30] curran opened #15 "Add checkboxes to select between Pitch, Interval, Rhythm"

[2016-07-28 22:30] curran opened #16 "Feed brush results to query (site-wide searching)"

[2016-07-28 22:31] curran opened #17 "Integrate ribbon tool within JRP header/footer, adding breadcrumb"

[2016-07-28 22:32] curran opened #18 "Add SVG export feature, wherein selected graphics can be exported to a file."

[2016-07-28 22:32] curran opened #19 "Adjust relative widths of each measure so the graph represents time"
Implementation time is dependent on dataset changes

[2016-08-10 15:49] curran commented on #4
Start from https://github.com/sul-cidr/josquin-ribbon/blob/master/poc/Jos2721-La_Bernardina.json#L15

[2016-08-10 15:52] curran commented on #4
We can use fonts from http://www.smufl.org/fonts/

[2016-08-10 15:54] curran commented on #4
Should look like the "C" part in this:

![image](https://cloud.githubusercontent.com/assets/68416/17560748/2c39680e-5ef1-11e6-9be2-5ce5f5a64e09.png)

[2016-08-10 15:55] curran commented on #4
SVG font elements here https://github.com/rism-ch/verovio/tree/master/data/Bravura

[2016-08-10 16:03] curran opened #20 "Create gh-pages branch"

[2016-08-10 16:11] curran commented on #20
The page is now live from the gh-page branch at https://sul-cidr.github.io/josquin-ribbon/poc/

[2016-08-10 16:11] #20 closed

[2016-08-10 16:13] curran commented on #20
Screenshot

[![image](https://cloud.githubusercontent.com/assets/68416/17561420/d5bbcaa0-5ef3-11e6-85f5-8ccff46a27ea.png)](https://sul-cidr.github.io/josquin-ribbon/poc/)

[2016-08-10 16:41] craigsapp commented on #4
The mensuration text code "C|" should map to glyph number `&#1805;` (decimal) or `&#xE918;` (hex) in the Bravura font.  I Loaded the OTF font into the OS X font folder and browsed the characters from there to find the mensuration sections of the glyphs:

![screen shot 2016-08-10 at 6 15 29 pm](https://cloud.githubusercontent.com/assets/3487289/17561523/bafba770-5f26-11e6-8ba5-a251e3433fa6.png)

Th

[2016-08-10 19:26] craigsapp commented on #4
Here is the list of mensuration sign glyphs on the SMuFL website:

http://www.smufl.org/version/latest/range/medievalAndRenaissanceProlations

[2016-08-10 20:58] craigsapp commented on #4
Here is the full list of mensurations used in JRP data along with their SMuFL enumeration codes.

Column meanings in the table below:

(1) The occurrence count for the mensuration
(2) The mensuration code
(3) An example which which has the mensuration (typically at the beginning of the work)

Using this URL as a template:

http://josquin.stanford.edu/cgi-bin/jrp?a=notationEditText&f=Xxx9999

Repla

[2016-08-11 02:07] curran commented on #4
These are awesome details. Thank you so much @craigsapp for your guidance here.

[2016-08-12 06:03] seemantk opened #21 "Read from json data"
The PoC reads from csv data, which is converted from json format.
Needs to be switched to using the original json data directly.

[2016-08-13 01:18] curran commented on #21
I believe this is the logic we can pull from the preprocessing step into the client:

[code]

I think we can pull directly from the API from within the client as well, as @craigsapp mentioned the server is CORS-enabled. The request could look something like this:

[code]

[2016-08-13 01:31] #21 closed, assigned to seemantk

[2016-08-13 02:32] curran opened #23 "Fix gh-pages error"
The changes I introduced in PR #22 unfortunately introduced an error that does not occur in a development environment, but does occur in the gh-pages site hosted at https://sul-cidr.github.io/josquin-ribbon/poc/

The error is as follows:

[code]

The GitHub Pages page is served over HTTPS, so is not allowed to request a resource over any HTTP server.

So, the question becomes, can we request the J

[2016-08-13 02:37] curran commented on #23
Here's a test command for hitting the JSON API over HTTP

[code]

The above command succeeds.

Here's the command for hitting the JSON API over HTTPS

[code]

The above command fails with the following error:

[code]

@craigsapp I wonder if we can somehow enable the API servers to serve over HTTPS? This appears to be required for compatibility with the GitHub Pages deployment strategy.

Note that

[2016-08-13 02:44] curran commented on #23
![image](https://cloud.githubusercontent.com/assets/68416/17641045/4548a83e-60de-11e6-95e0-7d3de164e442.png)

[2016-08-13 18:23] curran commented on #23
Found a 2014 article stating "...for new github.io sites, HTTPS is mandatory." - [GitHub Pages Now (Sorta) Supports HTTPS, So Use It](https://konklone.com/post/github-pages-now-sorta-supports-https-so-use-it)

[2016-08-14 01:44] curran commented on #23
Closed by adding CNAME file. Thanks to @craigsapp for the suggestion!

[2016-08-14 01:44] #23 closed, assigned to nobody

[2016-08-14 21:22] curran opened #25 "Model Application State"
Currently in the PoC, there are a few things you can do:
- (default view) See all notes
- Select a single voice
- Brush to zoom & pan

I think it would be good to explicitly model the application state in terms of these two properties:
- **selected voices** Gets initialized to all the voices on load. This data structure should be able to support toggling each voice on and off.
- **brushed interval

[2016-08-16 00:33] seemantk commented on #1
About to commit this set of fixes.

[2016-08-16 14:37] seemantk commented on #2
In progress currently.

[2016-08-16 19:57] curran commented on #25
This behavior is actually fixed in PR #26

[2016-08-16 21:54] curran opened #28 "Dynamically Load Works using Hash Routing"
Currently, the software loads a single piece. It should instead load whatever piece is specified.

One way to do this is to use the hash portion of the URL.

[2016-08-16 22:01] #28 closed, assigned to curran

[2016-08-18 03:19] seemantk commented on #1
Assigning this to @curran

[2016-08-18 03:20] curran commented on #1
Solved in #27

[2016-08-25 00:17] seemantk opened #33 "Responsive SVG"
While demonstrating [pull request 32](https://github.com/sul-cidr/josquin-ribbon/pull/32) for Javier, @gworthey  and  @craigsapp on today's call, Craig noted that he would like the ribbons to stretch to fit a very wide screen.

Also, the visualization is likely to be a full-screen one (and won't have to necessarily fit into the regular josquin website template.

This ticket is a general ticket to

[2016-08-25 00:19] seemantk opened #34 "Ensure that navigation ribbon and focus ribbon are visually distinct."
While demonstating [pull request 32](https://github.com/sul-cidr/josquin-ribbon/pull/32) for @craigsapp , @gworthey  and Javier this morning, Craig noted that there should be a visual distinction/separation between the navigation strip and focus strip (padding, line, background color, were all mentioned as possible avenues to pursue).

[2016-08-25 00:24] seemantk opened #35 "Placement of elements"
During the demo for [pull request 32](https://github.com/sul-cidr/josquin-ribbon/pull/32) today for @craigsapp, @gworthey, and Javier , @craigsapp noted that he is used to the navigation ribbon being below the focus ribbon.

This ticket is to ensure that that is configurable via the html rather than hardcoding it in d3.

[2016-08-29 06:28] curran opened #37 "Restore Tooltip Functionality"
Tooltips have been broken in #30 , this ticket is to restore them to working order.

[2016-08-29 07:39] curran commented on #25
Closing, as this idea is pretty much addressed by the refactorings that use d3.dispatch.

[2016-08-29 07:39] #25 closed, assigned to nobody

[2016-08-29 07:46] curran commented on #2
I'm thinking to embark on implementing this. I believe we had discussed adding an additional UI element (e.g. a check box) for highlighting the highest and lowest notes.

I think I'll tackle the work as follows:

 * [ ] Show the highest and lowest notes as red (all the time)
 * [ ] Set up a dispatch channel for toggling the highlight
 * [ ] Create a check box for toggling the highlight

[2016-08-29 08:16] curran commented on #2
As a reference, this is what it looks like in the old Ribbon plot:

![image](https://cloud.githubusercontent.com/assets/68416/18045159/0a292742-6def-11e6-8b4f-ba9c861cdb42.png)

[2016-08-29 17:36] curran opened #39 "Aesthetic Concerns"
This issue is a place for discussion on aesthetic adjustments to take place towards the end of the overall project.

[2016-08-29 17:39] curran commented on #6
I wonder what notes these should correspond to.. We can look to the original Ribbon plot as an example and use the same notes used there https://github.com/sul-cidr/ribbon/blob/master/index.html#L510

[2016-08-30 06:41] curran commented on #6
Relevant code snippets:

[code]

Awesomely, a D3 axis was used for rendering the lines:

[code]

I think this may also be relevant, though not sure exactly what it does:

[code]

[2016-08-30 07:53] curran opened #43 "Fix Y Scale Domain in Focus View"
Currently, the lowest note gets cut off in the focus view on the initial render pass:

![image](https://cloud.githubusercontent.com/assets/68416/18080830/aedb8c88-6eb4-11e6-9654-32820860632a.png)

However, after either selecting a voice to hilite or separating then combining, the correct scale gets set and the lowest note is displayed correctly:

![image](https://cloud.githubusercontent.com/assets

[2016-08-30 08:15] curran opened #44 "Highlight globally highest and lowest notes"
As a follow-on to #2, the highest and lowest notes across all voices combined should be highlighted in combined mode.

The current solution does not look good in the combined view:

![image](https://cloud.githubusercontent.com/assets/68416/18045713/de40aaa8-6df1-11e6-909d-76e8f44717ce.png)

[2016-08-30 08:16] curran opened #45 "Add UI to toggle extreme note highlights"
As a follow-on to #2, perhaps we should add a check box to toggle showing/hiding the highlights on the lowest and highest notes.

[2016-08-30 14:57] #2 closed

[2016-08-31 15:09] curran opened #47 "Highlight a various number of extreme notes"
e.g. top 2 and bottom 2, or top and bottom 3.

We're not sure if this is strictly required, but it would be a nice feature.

[2016-08-31 15:17] curran commented on #6
Notes from our call with Josquin team:
- Middle C should be in the middle
- Bottom line should be F 24
- Top should be G 32

[2016-08-31 15:18] craigsapp commented on #6
Yes

[2016-08-31 15:23] curran commented on #6
More notes: We should make a clear configuration structure that says
- which notes to use as lines, and
- how each note should be represented

The goal here would be to make it easily configurable in the future (e.g. to show a full staff).

[2016-08-31 15:30] curran commented on #5
Should look something like the red lines and yellow text here
![image](https://cloud.githubusercontent.com/assets/68416/18134982/e865b122-6fbd-11e6-9ca6-5b764c67a141.png)

From http://josquin.stanford.edu/analysis/activity/

[2016-08-31 15:34] curran commented on #3
This means we should essentially use a D3 axis for the X axis on the level of measures (instead of beats).

![image](https://cloud.githubusercontent.com/assets/68416/18135142/748e5c26-6fbe-11e6-8b8c-eed34a56c422.png)

[2016-08-31 15:38] curran commented on #3
Notes from the call with Josquin team on this:
- Numeric labels should only be shown in the focus view, not the context view.
- Would be nice to toggle bar lines on and off.
- All bar lines should be shown all the time, but not necessarily all labels (due to crowding)

[2016-08-31 17:05] craigsapp commented on #6
These are the staff lines on the vertical scale, using diatonic pitches (7 notes per octave):

![screen shot 2016-08-31 at 6 13 52 pm](https://cloud.githubusercontent.com/assets/3487289/18136973/e76d864e-6fa6-11e6-846d-925355b5d562.png)

The pitches are extractable from the numbers.  For example, the _pitch-classes_ (pitches without the octave information) are:

[code]

So for middle C, which is i

[2016-09-01 06:58] curran opened #50 "Add margin"
Currently, sometimes the notes get cut off at the edges of the SVG. Here's one example:

![image](https://cloud.githubusercontent.com/assets/68416/18158188/4b98af52-703f-11e6-9de4-36a70f0553d4.png)

Adding a [conventional margin](https://bl.ocks.org/mbostock/3019563) seems like a good way to solve this. This would also pave the way for #3 by allowing us to make room for the labels by adjusting the

[2016-09-01 14:49] #45 closed, assigned to curran

[2016-09-02 05:56] #37 closed, assigned to nobody

[2016-09-02 23:42] #43 closed, assigned to curran

[2016-09-03 05:49] seemantk commented on #13
This looks like already implemented in the current brush.

[2016-09-03 16:27] curran commented on #13
Agreed. I believe this landed as part of #41. Closing.

[2016-09-03 16:27] #13 closed

[2016-09-06 09:02] curran commented on #50
Closed in #56

[2016-09-06 09:02] #50 closed, assigned to nobody

[2016-09-06 15:00] #6 closed

[2016-09-07 02:56] seemantk opened #57 "Hide reflines in separate view"
In "separate" view, the three voices are at different y-levels in the focus view, so the reflines are inaccurate.

Please consider hiding them (more difficult would be to translate them appropriately).

[2016-09-07 09:44] curran commented on #57
Ah yes, good point!

Will hide them for now, but I think ultimately we should have one copy of the reference lines per voice. Maybe they should live in notescanvas.js after all..

[2016-09-07 11:10] #3 closed

[2016-09-07 11:12] curran opened #60 "Change X axis from beats to measures"
The changes introduced in #58 annotate the X axis with beats. This should be changed to use measure numbers, rather than beat numbers.

This is a follow-on to #3

[2016-09-07 11:24] curran commented on #4
Closed in #59

Here's what it looks like:

![image](https://cloud.githubusercontent.com/assets/68416/18310373/9d8f27ce-751b-11e6-8324-9bc1be9263e4.png)

@craigsapp I just want to confirm our understanding - these mensuration symbols will only appear at the beginning of a work, is that correct? Or, might these symbols appear within a work?

[2016-09-07 15:49] gworthey commented on #5
Craig: please clarify where and how these labels and measure numbers appear in the data.

[2016-09-07 17:05] seemantk commented on #14
In this implementation, the brush widget (to zoom and pan along the minimap) is different from the visualization on which this ticket was based.  In that visualization, two vertical lines appeared whenever the mouse was hovered over the notes.  Those two lines seem to define an interval in which to see.

In this implementation, nothing appears on hover (except for tooltips), and the brush needs to

[2016-09-07 17:07] seemantk commented on #60
@curran, thanks for creating this ticket.  It's unclear where to find the measure numbers in the dataset.  Any guidance on that?

[2016-09-08 02:37] #57 closed, assigned to curran

[2016-09-08 06:56] curran commented on #44
Actually, maybe we don't need to do this after all. On one of our recent calls, @craigsapp mentioned that it's nice in a way to see the minimum and maximum pitches per voice even in the combined view. He also made the point that the global minimum and maximum pop out visually anyway, so perhaps hiding the internal ones doesn't get us much.

One downside of the current approach (adding a thick red

[2016-09-08 07:07] curran commented on #60
@seemantk I believe the data for this is present in data.barlines as the "label" property of each bar.

For extracting the bars, you have the following:

[code]

Similarly, extracting the labels would be possible like this:

[code]

I tested the above snippet and found that for the last bar, "label" is undefined in the data, so I think we could use the bar's index instead (but adding 1 to make it

[2016-09-08 09:48] curran commented on #60
Will take a stab at this.

[2016-09-08 11:12] curran commented on #60
I implemented the idea, here's what it looks like now (using the piece `#Das1002`):

![image](https://cloud.githubusercontent.com/assets/68416/18347389/dc2ca5ca-75e2-11e6-930a-4af527c9ea7e.png)

When the ticks get too dense, some are left out based on testing the distance from the previous tick:

![image](https://cloud.githubusercontent.com/assets/68416/18347419/fde44704-75e2-11e6-8103-fcf6558a675

[2016-09-08 11:22] curran commented on #60
Actually this approach might be the best, because it holds up well in the case of mensuration changes. Check out the change in subdivision here at measure 85:

![image](https://cloud.githubusercontent.com/assets/68416/18347699/8926390c-75e4-11e6-989f-ba77120000f9.png)

[2016-09-10 10:15] curran opened #64 "Overall Refactoring"
I'd like to take an initiative to refactor the codebase to minimize repetition. Some ideas I'd like to pursue here include:
- initialize the application by explicitly dispatching the initial state through all the dispatchers
- have the `my` method be a function that can be called many times and will act as a "rubber stamp" (as in the original [Towards Reusable Charts](https://bost.ocks.org/mike/ch

[2016-09-10 19:15] seemantk commented on #64
@curran, I love this idea to refactor (especially the my() stuff).  I've been thinking about object hierarchy stuff.

Can you explain a bit more about your thoughts around the DOM element and data accessors?

[2016-09-11 10:02] curran commented on #64
@seemantk Cool! Yeah, the DOM element and data accessors would look like this:

https://github.com/sul-cidr/josquin-ribbon/blob/airplane-work/js/notesview.js#L208

Then part of the `my()` function contract is that both of those should be set before invoking it. Here's what the modified `my()` would look like:

https://github.com/sul-cidr/josquin-ribbon/blob/airplane-work/js/notesview.js#L37

I act

[2016-09-12 12:15] curran opened #66 "Update README"
At some point the README should be updated with fresh screenshots and a description of the various functionality that exists.

[2016-09-12 12:42] curran opened #67 "Add Clip Path"
Perhaps we could consider adding a clip path around the margin area within notesBook.

![image](https://cloud.githubusercontent.com/assets/68416/18436151/68f873ec-7914-11e6-9345-2d009e86c79c.png)

This would eliminate the note areas that overlap with the reference line labels in the above screenshot.

[2016-09-14 07:32] seemantk opened #68 "Switch to URL queries for song titles"
I think we should switch from hash notation to URL query strings (eg: `?song=Josquin-1913`) for the following reasons.
1. Browsers use the hash fragment identifier to place an id with the #'s name on the top of the page, ie loval navigation on the page. Github does this well, as this link to ordinal scales shows: `https://github.com/d3/d3/blob/master/API.md#ordinal-scales`
2. Consistency with the

[2016-09-19 12:13] curran commented on #68
Sounds good to me! I'm sure @craigsapp would be happy to see consistency with the rest of the Josquin site. In fact, I think he mentioned this when we debuted the hash navigation.

[2016-09-19 14:34] seemantk commented on #68
Great!  I'll take this one on, then.

[2016-09-20 03:23] seemantk commented on #35
Elements are in individual divs, and placed vertically stacked.  As of this pull request, the nav is below the main view.  To change it, the [two lines in html](https://github.com/sul-cidr/josquin-ribbon/commit/195819bd542ba9765f8e8e8cc07569ff09d8fd76#diff-eacf331f0ffc35d4b482f1d15a887d3bR25) just need to be reversed.

[2016-09-20 03:23] #35 closed, assigned to nobody

[2016-09-20 13:51] #68 closed, assigned to seemantk

[2016-09-27 13:54] curran commented on #9
My understanding so far is that we need to take a "window", meaning a fixed interval of a certain number of beats, and move it along the work at a certain increment, say every beat. This gives us a set of notes for each time increment. For that set of notes, we can compute the mean and standard deviation of pitches

![image](https://cloud.githubusercontent.com/assets/68416/18876352/f61e4476-84e6-1

[2016-10-04 20:22] gworthey commented on #5
Jesse reports that section labels appear in the humdrum data as follows:
`!!section: Kyrie II`

The ribbon should display the features noted above for section beginnings:
- vertical line
- label
- mensuration sign

[2016-10-04 20:23] gworthey commented on #10
Jesse describes this simply as follows: "In a single given measure, add up the total number of notes in all the voices: that total represents the attack density." Hopefully this confirms your understanding, @curran and @seemantk!

[2016-10-05 04:17] curran commented on #10
Awesome, thank you for the clarification here. The ribbons are coming along over at #71. This attack density computation can fit in there as the windowed computation. We can adjust the parameters to compute for each bar - a step size of 4 and a window interval of 4. We may run into trouble if the mensuration changes mid-song, but this will definitely work to get us started.

[2016-10-05 09:38] curran commented on #9
This is coming along nicely in #71. Thankfully D3 actually has [mean](https://github.com/d3/d3-array/blob/master/README.md#deviation) and [standard deviation](https://github.com/d3/d3-array/blob/master/README.md#deviation) functions built-in, so we can use those once we iron out the remaining bug with NaNs appearing in the paths.

I feel like once we cross this hurdle, the other encodings will be

[2016-10-12 07:39] #67 closed, assigned to nobody

[2016-10-12 08:37] curran commented on #12
I believe the "Omniglass" PR #73 kind of implements this - when you click out of the brushed region, the scaling is always constant (the window size is fixed), which I believe is the crux of this feature (if my memory serves me well on what this issue is about).

[2016-10-12 08:38] curran commented on #67
Fixed in #74 - Here's what it looks like now:

![image](https://cloud.githubusercontent.com/assets/68416/19303213/6798fab6-9085-11e6-9b70-b7913af14036.png)

[2016-10-12 08:41] curran commented on #34
Maybe a subtle border where the clip path lies would be suitable.

[2016-10-12 11:50] curran commented on #9
Finally working! Here's what windowed standard deviation looks like.

![image](https://cloud.githubusercontent.com/assets/68416/19309029/264227e8-90a0-11e6-98e9-57ad5f3c2248.png)

[2016-10-12 12:54] curran commented on #9
![image](https://cloud.githubusercontent.com/assets/68416/19310712/109eda04-90a9-11e6-896e-69840e8c5206.png)

[2016-10-18 09:25] curran commented on #8
Here's what the UI looks like now, after the addition of the check box for toggling the ribbons:

![image](https://cloud.githubusercontent.com/assets/68416/19471906/c668ccf8-9542-11e6-96fb-47ee30e50369.png)
Checked

![image](https://cloud.githubusercontent.com/assets/68416/19471939/d729d8d4-9542-11e6-930c-f57a006a0c4f.png)
Unchecked

[2016-10-18 10:52] curran commented on #10
We implemented the attack density computation using the algorithm described above. Here is [the implementation](https://github.com/sul-cidr/josquin-ribbon/pull/71/commits/99cdafc5161e35aab97fe326914f35120a6ec7c8#diff-21cc978204e78587b9d3af2109573897R124) for review.

Here's what the attack density ribbon looks like:

![image](https://cloud.githubusercontent.com/assets/68416/19474810/f10e9440-954e-

[2016-10-18 10:55] curran commented on #10
Just as an experiment, here's what it looks like if the ribbons are always centered on middle C:

![image](https://cloud.githubusercontent.com/assets/68416/19474966/7b71861a-954f-11e6-90d8-bf237b313bed.png)

This gives more of a histogram-ish view.

[2016-10-18 14:53] #9 closed

[2016-10-18 14:53] #8 closed

[2016-10-18 14:53] #11 closed

[2016-10-19 04:15] curran opened #75 "Fix positioning of highest notes"
![image](https://cloud.githubusercontent.com/assets/68416/19505510/a1775740-95e0-11e6-8bc6-6cb221b347b8.png)

[2016-10-19 04:34] curran commented on #18
This seems like a good library https://github.com/Hypercubed/svgsaver

[2016-10-19 04:57] curran commented on #75
From http://ribbon.humdrum.org/?id=jos1913

[2016-10-19 04:59] curran commented on #75
Odd how all the other voices are fine
![image](https://cloud.githubusercontent.com/assets/68416/19506178/d5902c86-95e6-11e6-9ee4-9ab82c31a291.png)

[2016-10-25 07:33] curran commented on #64
I thought this would be a "multi-chapter" initiative, but I think I'll just leave things be, as the program is working well with the current structure, and a big refactoring may not be worth the effort at this point. Closing.

[2016-10-25 07:33] #64 closed, assigned to curran

[2016-10-25 07:36] curran commented on #33
@seemantk Would you mind having a go at this one? I feel like you're more versed in the SVG scaling techniques than I. I have this bl.ock [Responding to Resize](http://bl.ocks.org/curran/3a68b0c81991e2e94b19), but perhaps using the SVG viewport and view box may be more elegant / easier.

[2016-10-25 07:38] curran commented on #44
This was confirmed by Jesse - that we _should indeed_ only highlight the globally highest and lowest notes in the combined view.

[2016-10-25 07:40] curran commented on #18
Here's a bl.ock that demonstrates one way we could do this: [Download SVG from Data URL](http://bl.ocks.org/curran/7cf9967028259ea032e8). This would probably work for us.

[2016-10-25 07:45] curran commented on #14
I believe we discussed this during one of our calls, and the Josquin team agreed that the line is no longer necessary. Am I remembering correctly?

@seemantk What do you think, should we add a vertical line that is linked between the focus and context views, or should we go ahead and close this issue without making any changes?

[2016-10-25 07:48] curran commented on #10
This was implemented in #71. Closing.

[2016-10-25 07:48] #10 closed

[2016-10-25 07:56] curran commented on #15
For context - this is specifically for the querying aspect. The idea is that once the user has selected a region by brushing, and selected one voice within that region (by clicking on the color legend), _then_ these check boxes would toggle which aspects of those selected notes are passed into the query (which can accept any combination of pitch, interval, and rhythm).

Note that at least one of t

[2016-10-25 14:04] seemantk commented on #14
Agreed, let's close this issue.

[2016-10-25 14:04] #14 closed

[2016-10-26 13:24] seemantk commented on #33
I'm working my way through this ticket. I've cleaned up the bootstrap and now working on the actual responsive part.
![bootstrapping](https://cloud.githubusercontent.com/assets/589271/19727597/e6b0768e-9b44-11e6-8268-173d00a24bca.png)

[2016-10-26 14:10] curran commented on #33
Sweet! It looks great. I wonder if we could merge the progress so far?

[2016-10-26 14:12] curran commented on #33
Sweet! It looks great. I wonder if we could merge the progress so far?

[2016-10-26 15:16] #7 closed

[2016-11-16 16:17] curran commented on #18
Notes from a recent call - the SVGs exported should be the "shadow" SVGs, without any viewbox applied. This will yield the SVG with a fixed height and the original aspect ratio in terms of note lengths, which is ideal for comparing the exported SVGs between different pieces.

[2016-11-16 16:17] curran opened #90 "Fix Viewbox error"
When separating and combining, we get the following:

d3.min.js:4 Error: <svg> attribute viewBox: A negative value is not valid. ("1354 0 -1657.0060085691632 526.5009477520547")

[2016-11-16 16:38] seemantk commented on #90
Thanks @curran!

[2016-11-17 01:53] seemantk commented on #18
@curran my hypothesis is that you'll get better results by keeping the viewBox, but getting rid of the preserveAspectRatio attribute from the top level SVG in the export.  The viewBox attribute only establishes the coordinate system, while preserveAspectRatio tells it how to scale to fit into its container.  When you leave it out, it doesn't try to scale itself.

I think the downloaded SVG could l

[2016-11-17 08:53] curran commented on #18
@seemantk Yes I think that makes sense. Thanks for the input, I'll definitely experiment with this when adding the export feature.

[2016-11-17 09:38] curran commented on #16
Notes from call:
- maybe it would be possible to generate text that should be pasted into the 3 search boxes (e.g. on this page http://josquin.stanford.edu/work/?id=Ano3003 )
- We need to understand the structures expected for those 3 boxes.
- Alternatively, we can be sure to keep some code in the codebase that hooks into the selected notes as a starting point for future developers who could imple

[2016-11-26 05:33] #90 closed, assigned to seemantk

[2016-12-07 15:39] curran commented on #75
I believe this has been fixed by @seemantk in changes incorporated from #83

[2016-12-07 15:40] #75 closed, assigned to nobody

[2016-12-07 16:10] curran opened #93 "Delete dead branches"

[2016-12-07 16:18] curran opened #94 "Fix alignment of ribbons"
The centers of the ribbons don't quite line up with the centers of the notes:

![image](https://cloud.githubusercontent.com/assets/68416/20975820/9e9e3874-bcc6-11e6-8ad3-34ed3c344a16.png)

Probably this would be a quick fix on the conversion of Y scale from band to linear.

[2017-01-25 16:15] curran opened #95 "Current Issues"
This is just to track a recent conversation. This should be split up, or reference into existing issues.

 * [x] (Curran) Ticks as bar numbers (accounting for mensuration changes)
 * [x] The reflines during 'combine/separate'  #1
 * [x]  (Seemant) The bounding box of the ribbons (they seem to bleed outside the edges of their container svgs)
 * [ ]  (Seemant) Fix the hilite + zoom behaviour -- it s

[2017-02-08 16:17] curran opened #96 "Address README"
Add some meaningful content.

[2017-02-08 16:19] curran opened #97 "Fill out comments"
Have a look through the complete codebase and make sure each chunk of code has at least a one sentence description about what it is doing / why it's required. This is with an audience of future developers/collaborators in mind.

[2017-02-15 16:07] #60 closed, assigned to curran

[2017-02-15 16:35] curran commented on #4
We're facing issues where the font is not rendering consistently across systems.

One solution would be to use these SVG versions https://github.com/rism-ch/verovio/tree/master/data/Bravura

[2017-02-16 09:13] seemantk commented on #18
[svjimmy](https://github.com/mbostock/svjimmy) has recently been released, and mbostock tested it (and made it work) on the josquin SVGs [at my request](https://github.com/mbostock/svjimmy/issues/1).

[2017-02-21 10:36] curran commented on #66
![image](https://cloud.githubusercontent.com/assets/68416/23161307/a61af460-f84f-11e6-8ed6-152d86650eac.png)

[2017-02-21 10:49] #66 closed, assigned to nobody

[2017-02-21 10:49] #96 closed, assigned to nobody

[2017-02-23 06:57] curran commented on #33
@seemantk I feel this is pretty close, but I noticed an issue with the text where it gets distorted.

![image](https://cloud.githubusercontent.com/assets/68416/23247987/1684da80-f9c3-11e6-84df-679f031628f3.png)

![image](https://cloud.githubusercontent.com/assets/68416/23248009/37b9dfb6-f9c3-11e6-884f-5141653e6421.png)

Usually the aspect ratio is in a range where it doesn't look too distorted, bu

[2017-02-23 16:56] seemantk commented on #33
The state of SVG support in browsers has a jaggedy edge. One of those is "transform=ref()" which does exactly what we want, but only in Opera browsers, a tiny minority.

So I asked AmeliaBR on twitter, and she responded with [some example codepens](http://codepen.io/collection/njbPRv/#) that might be illustrative.  Looks to be a good starting point for this.

[2017-02-23 17:07] curran commented on #33
Awesome! Thanks for investigating. I wonder if it would work out well to just use `.attr("preserveAspectRatio", "xMinYMin meet")`

[2017-03-01 15:47] seemantk commented on #4
FINALLY some progress! It's been an 8-week (non-intensive) effort to figure this out, and I finally have been able to extract and convert the Bravura glyphs into SVGs. (screenshot attached).
I'm now creating a sprite sheet for them, so we can use them in the viz.

**Please note, these are only symbols E910 through E920**

![mensurations](https://cloud.githubusercontent.com/assets/589271/23467608/6

[2017-03-01 16:14] curran commented on #4
Nice! Curious about your flow for getting/creating these SVGs.

[2017-03-01 17:41] seemantk commented on #4
@curran, I'll use these comments to live-document.

I found [this post](http://helpfulsheep.com/2015-03-25-converting-svg-fonts-to-svg/), which led to using this script:
[code]

It doesn't _quite_ work right, because that path replacement is blind.  I then imported into inkscape, saved it back  out to optimized svg, and there they were.  (the screenshot, as you can probably tell, is from the inksc

[2017-03-01 17:48] seemantk commented on #4
So, you run that file like: `python blah.by css/fonts/Bravura.svg`

and it creates numbered svg files (1001.svg, 1002.svg, ad nauseum)
I think the behaviour would be better if it named the files according to the glyph name (e918.svg).

Ideally, the output should be a `<symbol>` with the viewBox defined.  that way, it will automatically scale to fit whatever container it gets `<use>` called from.

[2017-03-08 11:24] curran commented on #4
@seemantk I believe we only need one of those symbols, the one on the right side? If you could share the SVGs that you managed to generate so far, or otherwise share the work so far in a branch/PR, that would be super useful in enabling me to also work on this. Thanks!

[2017-03-08 11:31] curran opened #104 "Brush handles should always be grabbable"

[2017-03-08 11:47] curran commented on #18
@seemantk I realized that svjimmy only exports PNG files, not SVG files, so I'm not sure it will work for us actually. I'll go ahead and try using [SVGSaver](https://github.com/Hypercubed/svgsaver), which does account for styles I believe.

[2017-03-08 13:09] #104 closed, assigned to curran

[2017-03-08 13:22] seemantk commented on #4
@curran, actually the set in use is about 10 symbols, and I've added them in mensurations.svg in the main directory just now.

[2017-03-08 13:23] seemantk commented on #34
Subtle borders exist around both svg elements now.  Closing.

[2017-03-08 13:23] #34 closed, assigned to nobody

[2017-03-08 14:24] seemantk commented on #12
@curran, can we close this ticket in that case?

[2017-03-08 14:30] seemantk commented on #33
Since our meeting last week, we changed this and we've now changed back to "none" preserveAspectRatio.

Per AmeliaBR, the trick is not to use a viewBox on the outermost SVG, and rather use them only where needed in the nested SVGs.

 I've started testing/playing locally with toy SVGs, and will report back during this week.

[2017-03-08 14:55] curran commented on #12
@seemantk Actually, I think this is the same as the recent issue that Jesse brought up, where each measure should be a fixed width. I don't think we can close it quite yet.

To clarify, I think to close this ticket we need to make it so the widths of the bars are fixed through the mensuration changes here:
![image](https://cloud.githubusercontent.com/assets/68416/23708695/d7138886-043c-11e7-9dab-7

[2017-03-08 15:41] #18 closed

[2017-03-08 16:08] curran opened #109 "Less real estate for widget section?"
Currently it's 8-4, maybe it could be 9-3 as suggested by @csbailey5t (tested on large display)

[2017-03-08 16:26] curran opened #110 "Export SVG"
SVG Export fails for large pieces. Let's try PNG export with high resolution (target is for print).

[2017-03-08 16:34] curran opened #111 "Add LICENSE file"
Not sure which license, maybe MIT or BSD3?

[2017-03-08 16:34] curran commented on #111
Maybe Apache?

[2017-03-08 16:38] curran opened #112 "Add notes on Jekyll in README"
For folks coming to the project like @csbailey5t @versae , it would be good to explain that you need to serve the site locally with `jeykll serve`, or `jekyll serve --watch`. Also installation notes for Jekyll might be nice.

[2017-03-08 18:10] seemantk commented on #112
Do you think it's worth summarizing the contents of [GitHub's official documentation](https://help.github.com/articles/using-jekyll-as-a-static-site-generator-with-github-pages/)?

Actually, yeah it would be worth it to summarize the relevant  [relevant section](https://help.github.com/articles/setting-up-your-github-pages-site-locally-with-jekyll/).

[2017-03-09 05:14] curran commented on #112
Yes indeed! Also we can potentially use this documentation from this [other project that uses Jekyll](https://github.com/cfinst/cfinst.github.io/blob/master/README.md):

## Running this Site

This site is organized using [Jekyll](https://jekyllrb.com/). Jekyll runs automatically on [GitHub Pages](https://pages.github.com/), which is the main deployment strategy at the moment.

To run this site on

[2017-03-13 12:04] curran commented on #1
@seemantk Reopening this issue, as the previously working implementation that handled the reference lines correctly is no longer being used. Any ideas on how we can approach implementing the split/combine of the reflines in the new world of SVG that we have now? The path is not clear to me, will investigate further. This seems like one of the last big things we need to resolve.

[2017-03-13 15:23] seemantk commented on #1
@curran,  thank you for reopening this.  I have an idea that I'd like to
flesh out, but it's hard to do in words (easier to draw).

Would you like to do a video hangouts/skype call in the next day or so?

*--*
*Oakland Finish Up Weekend*
Be Amazed.  Be Amazing.
Get Mentored | Get Inspired | *Finish* *Up*
http://oaklandfinishup.com

On Mon, Mar 13, 2017 at 5:04 AM, Curran Kelleher <notifications@gi

[2017-03-14 15:25] #39 closed, assigned to nobody

[2017-03-14 15:27] curran commented on #19
Duplicate of #12

[2017-03-14 15:27] #19 closed

[2017-03-14 15:31] #16 closed

[2017-03-14 15:31] #15 closed

[2017-03-14 15:35] curran commented on #5
I don't think these appear in the JSON data at all. Will do a deep dive search, then close this if I can't find any.

[2017-03-15 13:02] curran commented on #1
Closed in **Combine separate reflines** #114

[2017-03-15 13:02] #1 closed

[2017-03-15 13:04] curran opened #115 "Off-by-1 in separate view"
![image](https://cloud.githubusercontent.com/assets/68416/23949599/dd31f34e-09ad-11e7-9b56-39ac620b8ca0.png)

![image](https://cloud.githubusercontent.com/assets/68416/23949662/2b1441ca-09ae-11e7-8868-2fab99c9978d.png)

[2017-03-15 13:06] curran opened #116 "Axis ticks shockingly small"
As a followup to #113, perhaps we should make the ticks a bit larger by default?

![image](https://cloud.githubusercontent.com/assets/68416/23949721/6a883622-09ae-11e7-9730-0016b6cb456d.png)

[2017-03-15 13:27] curran commented on #12
Adding my thoughts/notes on working through the implementation here.

![image](https://cloud.githubusercontent.com/assets/68416/23950101/da7fe154-09af-11e7-9baa-9e6bcfb9f27f.png)

The above is what gets output from

[code]

I think this data can be used to scale the time values for the notes.

**Assumption:** where "mensuration" is `undefined`, we can assume it has the same value as it did previou

[2017-03-15 14:13] curran commented on #12
As a first step, we can fill in the mensurations for all bars based on the last known value:

![image](https://cloud.githubusercontent.com/assets/68416/23952531/b8476672-09b7-11e7-9ea8-69516d14a96b.png)

[code]

[2017-03-15 14:17] curran commented on #12
Discovered a truism that holds for all bars that may come in handy:

[code]

[2017-03-15 14:22] curran commented on #12
As the next step, we convert mensuration symbols to their "number of beats per bar" equivalent:

![image](https://cloud.githubusercontent.com/assets/68416/23952878/e3dfe16e-09b8-11e7-9ba5-866153dbde93.png)

[2017-03-15 14:37] curran commented on #12
Here we go, I think this is the scaling we're after: https://github.com/sul-cidr/josquin-ribbon/pull/117/commits/56dbfdbedb138baf962cbfa6d94e646e4412f1a6

![image](https://cloud.githubusercontent.com/assets/68416/23953559/f7755496-09ba-11e7-8ff2-d409eb60abcf.png)

![image](https://cloud.githubusercontent.com/assets/68416/23953616/25a5dfca-09bb-11e7-9269-a5a1d0f2789f.png)

[2017-03-15 15:12] curran opened #118 "Mensuration Symbols "go off the edge""
![image](https://cloud.githubusercontent.com/assets/68416/23955426/d759636e-09bf-11e7-9463-5eeec3cdb3fa.png)

[2017-03-15 15:30] curran commented on #94
I believe the problem is still there, and it lies in the *ribbons* not the notes.

[2017-03-15 19:26] seemantk commented on #110
Per Jesse's email on the list:

Changing the title of this ticket to reflect the direction back towards SVG.

[2017-03-15 19:39] seemantk commented on #110
So I've been doing some reading and research, and found [an article from 2014 on CSS tricks ](https://css-tricks.com/probably-dont-base64-svg/), which linked to a follow-up [codepen with even more optimizations](https://codepen.io/tigt/post/optimizing-svgs-in-data-uris). The basic idea is **encode SVG as ascii, not base64**.  Summary:

- data-url accepts ASCII or base64
- SVG is XML/HTML it is mos

[2017-03-15 19:46] seemantk commented on #110
@curran, we might be able to attack this on multiple fronts:

- wherever we are generating SVG elements, we can take care to send those strings within single quotes rather than double quotes. (SVGs will remain valid if converted correctly)
   - that way we do this consciously, by design, and only put into double quotes those things that need to be double quoted strings in the downloaded SVG.
- thu

[2017-03-15 19:54] seemantk commented on #110
@curran another thing that I've been thinking about is two, or perhaps, three different SVG downloads -- one for notes, one for std-dev ribbons and one for attack-density ribbons.  That makes the end product(s) less messy to deal with, too.

[2017-03-16 03:51] seemantk commented on #5
found a piece with sections! http://ribbon.humdrumorg/?id=ano1001
in the data.json:
![section](https://cloud.githubusercontent.com/assets/589271/23981061/1dca9c4a-09c1-11e7-931f-dd66be6363d6.png)

[2017-03-16 16:21] #115 closed, assigned to nobody

[2017-03-16 16:21] #116 closed, assigned to nobody

[2017-03-16 16:21] #118 closed, assigned to nobody

[2017-03-16 16:25] curran commented on #94
Potentially related to https://github.com/sul-cidr/josquin-ribbon/blob/gh-pages/js/dev/notesbook.js#L32

[2017-03-16 17:36] seemantk commented on #5
found a piece with sections! http://ribbon.humdrumorg/?id=ano1001
in the data.json:
![Uploading section.png…]()

[2017-03-17 04:30] #94 closed, assigned to curran

[2017-03-18 23:11] seemantk commented on #33
Closing this as part of the work in #119.

[2017-03-18 23:11] #33 closed, assigned to nobody

[2017-03-20 05:48] seemantk opened #123 "Some songs don't include all the reflines' pitches"
e.g:
- [jos2720](http://ribbon.humdrum.org/?id=jos2720)

[2017-03-20 09:45] #123 closed, assigned to seemantk

[2017-03-20 10:40] curran commented on #111
@versae @csbailey5t @gworthey Please let us know if you'd like us to generate a LICENSE file under a specific license.

Pending a license specification, @seemantk I think this issue can be left in the hands of Stanford folks.

As a note for whoever picks this up in the future: What I'd do to create the LICENSE file is create a new repository in GitHub, selecting the license type in the process, so

[2017-03-20 10:42] curran commented on #5
This was implemented in #122. Way to go @seemantk !

[2017-03-20 10:42] #5 closed

[2017-03-20 10:43] curran commented on #109
Assigning to @csbailey5t , to grease the wheels a bit towards future maintenance.

[2017-03-20 10:44] curran commented on #109
This is the file that needs to change https://github.com/sul-cidr/josquin-ribbon/blob/gh-pages/index.html

[2017-03-20 10:48] curran commented on #93
I just went through and deleted all of the dead branches. Closing.

[2017-03-20 10:48] #93 closed, assigned to nobody

[2017-03-20 12:45] curran commented on #12
Judging by the number of beats in this note that occupies a complete measure in "C|" time,

![image](https://cloud.githubusercontent.com/assets/68416/24100209/24a9327a-0d99-11e7-959a-6ff71e868ba5.png)

I believe the correct number of beats per bar for "C|" time is 8, not 2 or 4 as I previously thought.

[2017-03-22 13:16] #112 closed, assigned to curran

[2017-03-22 13:31] curran commented on #94
After fix:

![image](https://cloud.githubusercontent.com/assets/68416/24200083/eafdf606-0f31-11e7-81ba-d59ea9d8b38d.png)

for `?id=Jos1913`

[2017-03-22 13:36] curran commented on #5
For reference, this is what the implementation looks like for http://ribbon.humdrum.org/?id=ano1001 :

![image](https://cloud.githubusercontent.com/assets/68416/24200261/9bec19b6-0f32-11e7-8ea0-96b642a5d258.png)

[2017-03-22 13:41] curran commented on #12
Just discovered that the number of beats per measure for mensuration "3" is 12 (`jos1913`).

![image](https://cloud.githubusercontent.com/assets/68416/24200522/4e56e900-0f33-11e7-95ad-3dd3ee6587e2.png)

[2017-03-22 14:27] curran opened #127 "Extra notes hanging around"
![image](https://cloud.githubusercontent.com/assets/68416/24202503/384a6e56-0f39-11e7-8410-728fdb1be15b.png)

Possibly the exit case is not being handled correctly for the notes?

To reproduce:

1. Load the default piece
2. In song navigator, navigate to jos2702

[2017-03-22 15:10] curran opened #128 "Move song chooser widget into controls box"
Perhaps where the song ID exists now.

[2017-03-22 15:19] curran commented on #128
Also styling to fit in with the rest of the widgets.

[2017-03-22 15:24] curran opened #129 "Enter key not triggering load on chooser widget"
From @versae :+1:

Just experimenting a bit., this seems to work:

[code]

[2017-03-22 15:40] curran opened #130 "Enable Back & Forward buttons"
Make sure that these work nicely with the song selector widget.

Perhaps required: `onPopState`

[2017-03-29 14:33] curran commented on #130
The back button was implemented in #132.

@seemantk Now we need to get the forward button to work also.

[2017-03-29 14:57] curran commented on #127
Closed in **Remove stray notes** #131

[2017-03-29 14:57] #127 closed, assigned to nobody

[2017-03-29 14:58] curran commented on #128
Closed in **Move search box into the right box** #134

[2017-03-29 14:58] #128 closed, assigned to nobody

[2017-03-29 15:08] curran opened #135 "Make sure split/combine works across back/forward buttons"

[2017-04-11 05:52] seemantk commented on #4
@craigsapp there are inconsistencies in the symbol names.  E917 is coded as both "C|." and "C.|" -- this makes it challenging to handle properly.

Is there a standard naming scheme for these?

[2017-04-12 15:22] curran commented on #4
This might be a good lead for us:

 * http://verovio.humdrum.org/
 * https://github.com/humdrum-tools/verovio-humdrum-viewer

We can paste in the humdrum files from e.g. https://github.com/josquin-research-project/Jos/tree/540bc4f070e79c119be1abd587303bad04a886f8 into that viewer to get some visual clarity on the mensuration symbols.

[2017-04-19 15:36] curran commented on #4
Cut-C is 2/2, which is the same as 4/4 with respect to quarter notes. So, if there are 8 "beats" in one measure, therefore one "beat" (unit of time) encoded in the JSON data actually represents an eighth note.

This holds true also for "3", if we assume that 3 means 3/2 (12/8 --> 6/4 --> 3/2).

[2017-04-19 16:00] seemantk commented on #130
Looking through @enjalot's work with the [t-SNE viz](http://distill.pub/2016/misread-tsne/#perplexity=47&epsilon=7&demo=16&demoParams=100), I noticed some characteristics there:

- URL is not dynamic
  - you can click a "share URL" link, which is an anchor link with the appropriate URL query in it
  - thus, back and forward history are left to the browser to determine for itself (which most browse

[2017-04-26 15:24] curran opened #137 "Externalize Mensuration Configuration"
Google Doc -> CSV or YML -> Jekyll build

Composite symbol cases include:

 * Single symbol
 * Top / Bottom
 * Left / Right
 * Left / (Top / Bottom)

We can try representing these as YML data structures.

[2017-04-26 15:27] curran commented on #137
This is the initial data as CSV:

[code]

[2017-04-27 14:43] seemantk commented on #137
@curran I've made some changes to the original google sheet, which;

- changes the column names to be easily addressable in JS (eg. d.num_beats)
- adds mensuration layout for composite mensurations
- moves ignored mensurations to a different worksheet

[2017-04-27 22:38] curran commented on #137
Nice!

[2017-05-01 03:25] seemantk commented on #110
Per #138, I've removed some of the low-hanging fruit, and so I'm now seeing success with pieces like Jos1910.  None of these optimizations have so far been necessary, as all the work was a combination of deduplication and replacement of verbose SVG constructs (like `<use>`, unfortunately :( )

[2017-05-01 03:25] seemantk commented on #110
I don't want to close this ticket yet, until we test a larger suite of songs.

[2017-05-01 20:38] curran opened #139 "Remove <title> tags from SVG export"
re: https://github.com/sul-cidr/josquin-ribbon/pull/138

[2017-05-03 14:56] seemantk commented on #12
This is looking great, @curran!

I think I see how we can rescale the image properly after switching.

do the ribbons need to be recalculated as well? :/

[2017-05-03 15:20] curran opened #141 "Scale ribbons with measure scaling"

[2017-05-03 15:36] curran commented on #137
Done in **Externalizing mensuration lookup** #140

[2017-05-03 15:36] #137 closed, assigned to nobody

[2017-05-03 15:58] curran commented on #12
@seemantk Yes, unfortunately I neglected the Ribbons. Will investigate.

[2017-05-10 14:55] #141 closed, assigned to nobody

[2017-05-10 15:12] curran opened #143 "Correct Upside-down Mensuration Symbols"

[2017-05-24 15:16] curran opened #144 "Incorporate fractions table"
We need to incorporate the following table into `mensurations.csv`.

[code]

[2017-05-24 15:25] gworthey commented on #17
Leaving this until Craig returns to the project; not required for closeout of Curran's and Seemant's portion.

[2017-05-24 15:27] curran commented on #144
Part of #12

[2017-05-24 15:28] curran commented on #143
Part of #4

[2017-06-06 12:21] #97 closed, assigned to nobody

[2017-06-06 15:13] #144 closed, assigned to nobody

[2017-06-07 01:30] #12 closed

[2017-06-07 02:12] seemantk commented on #4
There are four possible layouts for the symbols:

1. Single symbol (e.g. Cut-C)
    * the last array item is _blank_
2. Two Symbols next to one another (e.g. O3)
    * the last array item is _blank_
3. Two symbols as a fraction (e.g. O/2)
    * the first array item is _blank_
4. Three symbols, one next to a fraction
    * all array items are _non-blank_

[2017-06-07 08:30] curran commented on #4
@seemantk I just realized a way to see the rendered mensuration symbols.

For each mensuration symbol, we can:

 1. Consult [Craig's analysis](https://github.com/sul-cidr/josquin-ribbon/issues/4#issuecomment-239002282) to find an example work that uses it.
 2. Paste the song ID at the end of this URL template to see a score as PDF: http://josquin.stanford.edu/cgi-bin/jrp?a=notationNoEditText&f=Jos

[2017-06-07 13:59] seemantk commented on #4
Thanks @curran!  I've been working on the rendering here, and have made progress in terms of rendering the symbols.  The current activity is placing them properly. There's a transformation applied to turn them right side up, as well.

![mensuration-symbols](https://user-images.githubusercontent.com/589271/26882273-c3fcd046-4b4e-11e7-84fb-ca57e5368018.png)

[2017-06-07 15:18] curran opened #147 "Take brush into account on measure scaling changes"
After zooming, then checking the "Measure-based Scaling" check box, the zoomed region is not kept.

[2017-06-07 15:33] curran opened #148 "Make measure-based scaling the default"

[2017-06-07 15:34] curran opened #149 "Consider putting state into URL parameter"
One for each UI widget

[2017-06-14 06:55] curran opened #150 "Fix Measure Scaling Cases"
From Jesse's email:

OK, I've now had a chance to go through these files. Unfortunately the scaling doesn't seem to be working yet:

Rue1004b: When I click "measure-based" scaling the second section of the piece disappears.

Rue1007d: When I click "measure-based" scaling there's blank space at the right of the ribbon; this happens in several examples. Beyond that, the proportions aren't right: in

[2017-06-21 13:27] #148 closed, assigned to nobody

[2017-06-21 13:30] seemantk commented on #143
![glyphs](https://user-images.githubusercontent.com/589271/27386482-dabc58b8-564a-11e7-9de6-5d56ee78a04b.png)

After a bit of playing with glyph alignments and transforms, I finally figured out how to redo the path to be upside down (use inkscape).  Fortunately, we don't have a lot of glyphs to have to consider, because this is a tedious process.

With the new paths, I'll try to render them again

[2017-06-21 15:10] curran opened #154 "Fix issue with split/combine WITH measure-based scaling"
Steps for reproduction:

 1. Split voices
 2. Check measure-based scaling checkbox

[2017-06-21 15:29] curran commented on #143
Sweet!

[2017-08-30 14:17] craigsapp opened #158 "Press enter to select work"
To load a work into the ribbon plotter manually, you type in the JRP ID and then click the "Load" button.  It would also be useful to be able to press the return key to be equivalent to clicking on the "Load" button.

<img width="430" alt="screen shot 2017-08-30 at 7 16 36 am" src="https://user-images.githubusercontent.com/3487289/29876998-2e201b2c-8d53-11e7-8be1-4ebeaf4f6a2e.png">

[2017-08-30 14:24] craigsapp opened #159 "Fit interface to window"
When loading the ribbon plotter into a web browser window, I am getting an extra margin at the top and the bottom of the navigator is clipped:

![screen shot 2017-08-30 at 7 20 24 am](https://user-images.githubusercontent.com/3487289/29877276-024fe3b4-8d54-11e7-82fd-a2d495ac1884.png)

The height of the extra margin is not the same as the clipping on the navigator, so they are probably not related:

[2017-08-30 14:29] craigsapp opened #160 "Zoom in on page load"
When the ribbon plotter is first opened, the navigator selection is 100%.  This makes it confusing for first time users as to what the meaning of the navigator is, and that the box on the navigator is a box rather than a background color.

It would be useful to only show the first 1/8th of the music in the top plot when loading the page so that the navigator box is smaller and should allow faster

[2017-08-30 14:29] seemantk commented on #159
Hi @craigsapp!

Welcome back!  This is as expected. Due to the complexity and detail, the
visualization elements together (main + nav) occupy 100% of the height in
this resolution.  The title, being static, is not considered part of the
viz itself.

Hope this helps.
Cheers,
Seemant

On Wed, Aug 30, 2017, 07:24 Craig Stuart Sapp <notifications@github.com>
wrote:

[2017-08-31 18:07] craigsapp commented on #4
Here is an early sampler of the mensuration signs that I made:

http://wiki.ccarh.org/wiki/MuseData_Example:_mensural_signs

(Measures 2 & 4 do not exists in the current JRP data).

![screen shot 2017-08-31 at 11 02 49 am](https://user-images.githubusercontent.com/3487289/29937933-f89c4900-8e3b-11e7-9d3c-507215ab8138.png)

I'll create an updated table for the ribbon wiki.

[2017-08-31 18:09] craigsapp commented on #4
I would say that `C.|` is better than `C|.`, so assume the first one, and I will fix data which contains the second one.

[2017-08-31 18:10] craigsapp commented on #4
Yes, that was the idea 😜

[2017-08-31 19:28] craigsapp commented on #4
I think the behaviour would be better if it named the files according to the glyph name (e918.svg).

I haven't worked directly with Bravura, but I do work with it indirectly when working with verovio:
    https://github.com/rism-ch/verovio

So reverse engineering from there:

Extracted Bravura font symbols can be found in this directory:
     https://github.com/rism-ch/verovio/tree/develop/data/Br

[2017-08-31 23:53] craigsapp commented on #4
You won't have to worry about the meaning of the mensuration signs now that the performance time in seconds are provided by the JSON proll data (and their meanings are not necessary for displaying the graphic symbols on the plots).

Cut-C is actually 2/1, which is the same as 8/4 with respect to quarter notes.  The JSON proll score times are all in units of quarter notes, so you should notice that

[2017-08-31 23:57] craigsapp commented on #4
I submitted a pull request for the mensuration documentation which will go to the URL:

http://ribbon.humdrum.org/doc/mensuration-sampler

when it is pulled.  It has a graphical sample of each mensuration other than some rare ones that only occur in Tinctoris's music (he was trying to get people to adopt his mensuration notation system, which no one did).

For completeness, here is the sampler:

!

[2017-08-31 23:59] craigsapp commented on #4
That seems to cover all questions in this thread.

[2017-09-01 00:05] craigsapp commented on #158
Same as issue #129

[2017-09-01 00:05] #158 closed, assigned to nobody

[2017-09-01 00:15] craigsapp commented on #143
The sneaky way to turn the glyphs upside down is with a `scale(1, -1)` to mirror the y-axis:

[code]

[2017-09-01 00:47] craigsapp opened #162 "left justification of mensurations and section titles"
A mensuration or new section starts at a given barline, so techncially these symbols should be left-justified to the measure they start in rather than centered:

![screen shot 2017-08-31 at 5 41 47 pm](https://user-images.githubusercontent.com/3487289/29950909-e6f8e0ae-8e73-11e7-9d01-23882548e9a7.png)

Better as:

![zzzzz](https://user-images.githubusercontent.com/3487289/29950977-53c1f162-8e74-11

[2017-09-01 00:53] craigsapp commented on #162
Left-justification will fix this case at the start of:

http://ribbon.humdrum.org/?id=Jos2510

![screen shot 2017-08-31 at 5 52 50 pm](https://user-images.githubusercontent.com/3487289/29951111-4c67ccce-8e75-11e7-97ae-fe7d3a7ec564.png)

[2017-09-01 01:00] craigsapp commented on #162
Note that it is possible to have section titles overlap (which would not be fixed by left alignment):

![screen shot 2017-08-31 at 5 59 28 pm](https://user-images.githubusercontent.com/3487289/29951244-3ffa6c98-8e76-11e7-857e-b69a1840cab0.png)

[2017-09-01 17:24] craigsapp opened #163 "intersting patterns"
Here is an interesting pattern visible in the ribbon plotter for Jos2510:

![screen shot 2017-09-01 at 10 20 56 am](https://user-images.githubusercontent.com/3487289/29980618-5baaa2c6-8eff-11e7-9ca5-0124a355c712.png)

Notes are incrementally added to the phrase going upwards, then the process is reversed in the second half of the piece.

[2017-09-01 17:24] #163 closed, assigned to nobody

[2017-09-05 19:57] craigsapp opened #164 "Scaled measure view only"
There will not be a need to view both the scaled and unscaled versions of the score, so this check box can be removed from the interface:

![screen shot 2017-09-05 at 12 50 54 pm](https://user-images.githubusercontent.com/3487289/30080655-2a3ff546-9239-11e7-84a0-d1388a94ccb8.png)

The algorithm for the use of x-axis scaling should be:

(1) If the time-in-second parameters are found in the JSON dat

[2017-09-06 12:13] curran commented on #164
Thanks @craigsapp for spelling this out. This is great to have as direction.

[2017-09-06 13:55] #164 closed, assigned to nobody

[2017-09-15 14:06] curran opened #167 "Flatten Center of Attack Density Ribbons"

[2017-09-15 14:51] #167 closed, assigned to nobody

[2017-09-15 15:06] curran opened #169 "Make the ribbons peter out at the end"
![image](https://user-images.githubusercontent.com/68416/30489710-9786c318-9a55-11e7-8d38-813e39a59823.png)

[2017-09-15 15:09] curran opened #170 "Possibly rename "Standard Deviation""
to
 * Local Pitch Variation
 * Pitch Variation
 * Melodic Movement
 * Melodic Movement

[2017-09-27 13:21] curran commented on #150
This can be closed, as we've opted to use @craigsapp 's computed values rather than computing our own in JS. This was implemented in PR https://github.com/sul-cidr/josquin-ribbon/pull/165

[2017-09-27 13:21] #150 closed, assigned to nobody

[2017-09-27 13:26] curran commented on #154
This can be closed, as the measure-based scaling checkbox was removed in **Scaled measure view only** #165

[2017-09-27 13:26] #154 closed, assigned to nobody

[2017-09-27 13:38] seemantk commented on #147
Closing, as the measure scaling checkbox has been deprecated

[2017-09-27 13:38] #147 closed, assigned to nobody

[2017-09-27 13:39] seemantk commented on #4
Closing, now that we are using SVG symbols for each mensuration combination, thanks to @craigsapp

[2017-09-27 13:39] #4 closed

[2017-09-27 13:40] seemantk commented on #143
Closing as deprecated, since we are using @craigsapp's symbol set.

[2017-09-27 13:40] #143 closed, assigned to seemantk

[2017-09-27 13:41] seemantk commented on #129
@versae please feel free to put this work into branch and send a PR

[2017-09-27 14:24] craigsapp commented on #110
Here is how I am saving the text editor content on the left side of the interface for Verovio Humdrum Viewer (http://verovio.humdrum.org) to disk when pressing the alt-s command

http://doc.verovio.humdrum.org/interface/humdrum/#saving-humdrum-filesdata

https://github.com/humdrum-tools/verovio-humdrum-viewer/blob/9c26f0a6235153f9f22c3c59e52370a609aa6a7d/scripts/main.js#L2888-L2911

[code]

Where

[2017-10-03 02:16] #129 closed, assigned to nobody

[2017-10-03 02:18] #109 closed, assigned to csbailey5t

[2017-10-03 02:19] seemantk commented on #139
Since FileSaver works (#175) to export the whole svg, I suppose we don't need this any longer, @curran ?

[2017-10-03 07:12] curran commented on #139
Yes indeed. Closing.

[2017-10-03 07:12] #139 closed, assigned to nobody

[2017-10-04 04:35] gworthey commented on #135
I don't think I understand this requirement: back and forward buttons would normally take us to an entirely new piece, which one would reasonably expect to appear in its default state, not in whatever state the previous piece was in.

Is there a case where the back button takes us to a different state of the same piece?

[2017-10-04 04:42] gworthey commented on #160
In my opinion, this is a matter of taste and preference, not part of the original spec (and possibly not even desirable).  In practice, if #149 (include state values in URL -- also a new feature) were to be resolved, it seems like this default zoom preference could be addressed.

[2017-10-04 04:45] gworthey commented on #169
This appears to be fixed, ¿no?  Not sure which PR did the trick, though.

[2017-10-04 09:33] curran commented on #169
Oh yes! Fixed in #173 Closing.

[2017-10-04 09:33] #169 closed, assigned to nobody

[2017-10-04 15:53] curran commented on #159
I think this is fine to close?

[2017-10-11 15:11] #160 closed, assigned to curran

[2017-10-11 15:16] curran opened #179 "Expose duration of brushed region in UI"
From original requirement:

"REQ-3.b. Fixed-width zooming, so that multiple pieces can be compared one-to-one." As we've discussed, this is crucial to my project.

[2017-10-11 15:21] curran commented on #179
Idea: Show "10 seconds selected" inside the widget window on the right. That way, you can select the same amount of time in different windows.

[2017-10-11 15:30] curran opened #180 "Swipe Zooming in Main View"
Something for future developers to work on: add the behavior where you can zoom and pan in the top view as well, sort of like GoogleMaps.

See this example that implements this with D3: https://bl.ocks.org/mbostock/34f08d5e11952a80609169b7917d4172

[2017-10-11 15:56] gworthey commented on #170
Per email from Jesse, October 4, 2017:

- Replace "Standard deviation" with "Melodic contour"
- Replace "Attack density" to "Rhythmic activity"

Both of these will need some sort of key, or legend, or tool tip, etc.

[2017-10-15 18:20] seemantk commented on #135
Closing as out of scope (as discussed on our call 2 weeks ago).

[2017-10-15 18:20] #135 closed, assigned to nobody

[2017-10-18 15:16] curran commented on #95
Closing this as "hilite + zoom" is deemed out of scope.

[2017-10-18 15:16] #95 closed, assigned to nobody

[2017-10-18 15:17] curran commented on #162
Closed in https://github.com/sul-cidr/josquin-ribbon/pull/182

[2017-10-18 15:17] #162 closed, assigned to nobody

[2017-10-18 15:38] csbailey5t opened #183 "Show Ribbon drop-down failure in Safari"
On the current gh-pages version, the "Show Ribbon" drop down seems to fail immediately upon choosing the other ribbon type, and reverts to being off in Safari. The behavior works as expected in Chrome and Firefox. I haven't tested IE or Edge. There are no errors or other output in the console.

![out](https://user-images.githubusercontent.com/4672869/31728724-ee5f8c42-b3e1-11e7-99f3-5a6f47937853.g

[2017-10-18 15:56] csbailey5t commented on #159
Closed as finished. Further style modification relevant to this can be handled in integration into humdrum.

[2017-10-18 15:56] #159 closed, assigned to nobody

[2017-10-18 16:42] curran commented on #111
I will add a BSD3 LICENSE file. I believe this is what we had discussed.

[2017-10-18 16:49] #170 closed, assigned to nobody

[2017-10-18 16:51] curran commented on #44
Pending feedback from @craigsapp / Jesse on what the desired behavior is.

[2017-10-19 18:37] craigsapp commented on #44
Jesse agrees that the global view should mark the highest/lowers note of individual voices rather than display only the global max/min across all voices, so this particular feature should not be implemented.

[2017-10-19 18:37] #44 closed, assigned to nobody

[2017-10-21 16:06] #111 closed, assigned to curran

[2017-10-21 16:10] seemantk commented on #47
setting this to wonfix based on @craigsapp's assessment.

[2017-10-23 19:45] curran commented on #183
Unfortunately I do not have access to a Safari browser (I'm on a Linux machine).

Are there any errors in the console when this happens?

[2017-10-23 20:03] csbailey5t commented on #183
Unfortunately, there are no console errors.

[2017-10-25 14:56] #179 closed, assigned to curran

[2017-10-25 15:26] gworthey commented on #111
For the record, here's the BSD2 license used for software in Craig's related projects: https://github.com/craigsapp/humlib/blob/master/LICENSE.txt

This confirms that BSD3 was a reasonable choice for us!

[2017-10-25 15:31] curran commented on #183
@seemantk To phrase it in another way - When you select an entry in the menu, the checkbox is toggled, but it shouldn't be

Perhaps somehow the events are getting confused, and the event of selecting a menu item is somehow causing the checkbox to get unchecked.

[2017-10-25 15:33] curran commented on #183
I think the place to start debugging is `baton.js` line 163.

[code]

[2017-10-25 15:37] curran commented on #183
One thing that would explain the behavior is if `this.value` evaluates to `null` on line 178.

I'd be interested to see what gets printed in Safari with a debug statement like this:

[code]

[2017-10-25 15:52] curran commented on #183
@seemantk @csbailey5t @craigsapp So I added that debug statement in this branch https://github.com/sul-cidr/josquin-ribbon/pull/188

If anyone with Safari can run that code and try to replicate the bug, then post the output in the console here, that would be helpful :smile:

[2017-10-25 15:55] csbailey5t commented on #183
@curran I actually had to click the select a few times to get any output, but eventually got:

`[Log] The following value should not be null: (josquin.js, line 1582)`
`[Log] attack_density (josquin.js, line 1583)`

I get the same output from those console logs in Chrome. That functionality seems consistent, which makes it seem more likely that, for some reason, it is simply causing the ribbon to b

[2017-10-26 04:26] craigsapp commented on #183
Here is some debugging information and the solution (at the bottom, so you can skip the debugging process writeup):

--------

Here are the signals from baton.js:

[code]

The `show-ribbon` signal is related to the problem.  This is linked to the function `notesBook.ribbons`.

`notesBook.ribbons` is this function in `notesbook.js`:

[code]

I added the `console.log` message.  Clicking on the "Show

[2017-10-26 06:40] curran commented on #183
Hmm. That looks like what we'd expect. So our issue is elsewhere.

[2017-10-26 08:06] curran commented on #183
Let's continue the discussion on https://github.com/sul-cidr/josquin-ribbon/pull/188

[2017-10-26 08:13] curran commented on #183
Thanks @craigsapp ! I added your solution in this pull request https://github.com/sul-cidr/josquin-ribbon/pull/188

[2017-10-31 15:51] #183 closed, assigned to curran

[2019-10-21 19:28] craigsapp opened #190 "Corruption in filename in loaded score"
The JSON data for the filename contains junk characters that need to be removed.

[2019-10-21 19:36] broadwell opened #191 "JSON data files from josquin server have bad character, causing load error"
An errant control character seems to have found its way to the front of the "filename" value in every work data file that we've tried to load in the interface, e.g.,
`https://josquin.stanford.edu/cgi-bin/jrp?a=proll-json&f=Jos2721`
It appears as a `^D` (`CTRL-D` ?) when viewed in vim, for what that's worth.

[2019-10-21 19:47] broadwell commented on #191
@craigsapp beat me to it - #190.

[2019-10-21 19:47] #191 closed, assigned to craigsapp

[2019-10-22 17:01] broadwell opened #192 "Move options menu item to above or below main ribbon (?)"
The key idea is to maximize the amount of screen real estate available to the big (top) ribbon, especially horizontally.

Note that current Bootstrap layout actually has some decent responsive formatting behavior for tablets and smartphones, so we should make sure not to lose it.

[2019-10-22 17:03] broadwell opened #193 "Rhythmic activity ribbon should default to "Separate Voices" layout"
The voices should not be displayed as overlapped in the rhythmic view, so the "Separate Voices" option shouldn't even be available when in this view.

[2019-10-22 17:13] broadwell opened #194 "Move voices closer together vertically in "Separate Voices" mode"
Applies to the Melodic Contour ribbon when "Separate Voices" is checked. Also applies to Rhythmic Activity at all times (see #193).

Caveat: Although the voices in the Melodic Contour ribbon view and "Separate Voices" mode do appear rather far apart, there's some potential for, say, a very low Altus line to overlap with a very high Tenor line if the gutter between the staves is removed entirely. T

[2019-10-22 17:22] broadwell opened #195 "Remove pitch labels, maybe full staff from Rhythmic Activity ribbon view"
Each voice's Rhythmic Activity ribbon would just appear in the center of its portion of the score.

**Need to clarify** the desired behavior when "Show Notes" is selected. Currently, the notes appear at their notated pitch levels, and the rhythmic activity ribbon seems to be centered vertically in the middle of each voice's range for the piece. This makes a certain amount of sense.

[2019-10-22 17:23] broadwell opened #196 "Try to increase amplitude of ribbons (both top and bottom), especially in separate voices mode"

[2019-10-22 17:27] broadwell opened #197 ""Separate Voices" should be default mode (no button); "Combine Voices" appears for "Melodic Contour""
The "Separate Voices" button should go away completely as it's the default, and the "Combine Voices" button would only appear as an option when the "Melodic Contour" Ribbon view (which is no longer the default) is selected.

[2019-10-22 17:27] broadwell opened #198 "Site should default to "Rhythmic Activity" ribbon view"

[2019-10-22 17:30] broadwell opened #199 ""Show Notes" should be deselected by default"

[2019-10-22 17:31] broadwell opened #200 ""Hide Extreme Notes" option should only appear after "Show Notes" is selected"
"Hide Extreme Notes" is, of course, the opposite of the current "Show Extreme Notes" option.

[2019-10-22 17:33] broadwell opened #201 ""Show Notes" should be automatically selected if "Show Ribbon" is deselected"
Otherwise the view is just a blank graph.

[2019-10-22 17:35] broadwell opened #202 "Exported SVG should include grid lines (measures and staves)"

[2019-10-22 22:19] broadwell opened #203 "Add fifth "aggregate" voice for Rhythmic Activity"
Probably the color will be grayish, and it will be positioned below the other four (SATB[this]).

It's not entirely clear what this voice would display when "Show Notes" is selected -- though this is kind of an open question for the Rhythmic Activity view in general.

[2019-10-23 03:09] seemantk commented on #192
Hi,

Actually, you might consider upgrading to Bootstrap 4, as this version has
some security concerns...please see the github report for that.  The
upgrade to 4 will also force an upgrade of jquery which also has a security
hole...

On Tue, Oct 22, 2019 at 10:01 AM Peter Broadwell <notifications@github.com>
wrote:

--

*--*
*Oakland Finish Up Weekend*
Be Amazed.  Be Amazing.
Get Mentored | Get In

[2019-10-23 23:10] craigsapp commented on #190
Should now be fixed:

<img width="1355" alt="Screen Shot 2019-10-23 at 3 54 19 PM" src="https://user-images.githubusercontent.com/3487289/67440216-73a74480-f5ad-11e9-8999-c24fad1e2c22.png">

The problem was caused by two things:

(1) The program that generates the data is a C++ program.  I was using string::data() instead of string::c_str().  The data() function is similar to the c_str() version,

[2019-10-23 23:10] #190 closed, assigned to craigsapp

[2019-10-23 23:28] craigsapp opened #204 "Generate JSON score directly on ribbon page"
In the long term, it will be useful to generate the JSON version of the score used to display the ribbon plot within the ribbon webpage rather than downloading it from the server.

For example here is a JSON score:
      https://josquin.stanford.edu/cgi-bin/josquin?a=proll-json&file=Jos3005
This was created from the original Humdrum score:
    https://josquin.stanford.edu/cgi-bin/josquin?a=humdrum

[2019-10-23 23:47] craigsapp opened #205 "Audio playback of score"
Ideally the ribbon plot would be able to play an audio file of the score.

Here is an example ribbon plot page:
https://ribbon.humdrum.org/?id=Jos3005

<img width="1355" alt="Screen Shot 2019-10-23 at 3 54 19 PM" src="https://user-images.githubusercontent.com/3487289/67441702-b881aa00-f5b2-11e9-8b29-9abf5afff80d.png">

The predecessor to such a plot is available from the "pianoroll" links on the w

[2019-10-24 09:38] craigsapp commented on #192
The current layout is similar to [Sonic Visualiser](https://www.sonic-visualiser.org):

<img width="1526" alt="Screen Shot 2019-10-24 at 2 29 27 AM" src="https://user-images.githubusercontent.com/3487289/67472542-1a1f3400-f606-11e9-9b8b-c8f3ff586ecc.png">

SV allows hiding of the option menus on the right to allow full-width display of the graphical region:

<img width="1526" alt="Screen Shot 2019

[2019-10-24 09:39] craigsapp commented on #192
A bootstrap sidebar system might be useful:

https://bootstrapious.com/p/bootstrap-sidebar

[2019-10-24 09:42] craigsapp commented on #192
Somewhat related to this: notice that the page will never fit into the full height of the window.  It will always be larger that the height of the window, even when the window is very long:

<img width="1320" alt="Screen Shot 2019-10-24 at 2 42 39 AM" src="https://user-images.githubusercontent.com/3487289/67473592-cdd4f380-f607-11e9-895c-0039ebcef48d.png">

[2019-10-31 23:24] broadwell opened #209 "Apply settings when new score loaded via menu"
Currently, loading a new score via the "Load" button resets the ribbon viewer to the default notes/ribbon/voices settings, without updating the actual checkbox and dropdown form elements. Ideally, the most recent display settings would carry over and be applied when a new score is loaded, but a fallback would be to have the entire display reset to the default menu/viz settings.

[2019-10-31 23:30] broadwell commented on #195
Decision (for now): staff with pitch labels should reappear when "Show Notes" is selected for Rhythmic Activity ribbon.

[2019-10-31 23:32] broadwell opened #210 "Improve smoothing of ribbons"
Issue #196 (increase amplitude of ribbons, especially in separate voices mode) and PR #208 (shift  calculation window to left for rhythmic activity ribbon) address this, but it's not clear that they do enough.

[2019-11-04 15:58] simonwiles commented on #195
Closed by #212.

[2019-11-04 15:58] #195 closed, assigned to nobody

[2019-11-04 15:59] #193 closed, assigned to nobody

[2019-11-04 15:59] #197 closed, assigned to nobody

[2019-11-04 15:59] #198 closed, assigned to nobody

[2019-11-04 15:59] #199 closed, assigned to nobody

[2019-11-04 15:59] #200 closed, assigned to nobody

[2019-11-04 15:59] #201 closed, assigned to nobody

[2019-11-04 15:59] #209 closed, assigned to nobody

[2019-11-05 07:54] broadwell commented on #196
This can be done by increasing the `scaleFactor` variable in `ribbon.js`, but can resulting in clipping if the ribbon height exceeds the vertical space allocated for the voice.

[2019-11-05 07:57] broadwell commented on #203
Some songs have more (or fewer) than four voices, so the aggregate voice is the N+1th voice.
The current plan is for the Rhythmic activity ribbon to be centered on middle C when the notes are not shown.
The aggregate "Melodic Contour" ribbon looks pretty good, too, and might be worth keeping.

[2019-11-07 06:32] craigsapp opened #213 "Hide Extreme Notes"
"Hide Extreme Notes" is a misinterpretation: this should be "Highlight Extreme Notes".  The extreme notes should never actually be hidden (unless all notes are hidden).

<img width="608" alt="Screen Shot 2019-11-06 at 10 25 37 PM" src="https://user-images.githubusercontent.com/3487289/68365091-932d8980-00e4-11ea-9c62-c1d19007c762.png">

Notice that the extrema notes disappear:

<img width="523" al

[2019-11-08 00:04] broadwell commented on #213
The extreme-note hiding was implemented on the basis of the "Proposed Menu View" doc that was presumably provided to the developers by JR at some point towards the end of the last development phase (see screenshot). So it's not clear where the misinterpretation occurred.

![Screenshot 2019-11-07 15 58 05](https://user-images.githubusercontent.com/7329112/68438181-177d1c80-0178-11ea-8f68-a2fbb46e67

[2019-11-08 02:58] craigsapp commented on #213
That looks like a typo which @jesserodin can clarify.  Otherwise hiding some notes but not others does not make sense.

[2019-11-18 19:37] simonwiles commented on #192
Closed by #214.

[2019-11-18 19:37] #192 closed, assigned to simonwiles

[2019-11-19 07:16] #203 closed, assigned to nobody

[2019-11-21 21:43] #110 closed, assigned to nobody

[2019-11-21 21:43] #202 closed, assigned to simonwiles

[2019-11-22 21:06] #180 closed, assigned to nobody

[2019-11-23 06:16] broadwell commented on #213
Yes it was indeed a typo! Restoring the highlight functionality...

[2019-12-03 23:29] #210 closed, assigned to nobody

[2019-12-04 19:46] simonwiles opened #226 "SVG export maths is wrong when selection is resized"
See #225 for some more details.

[2019-12-11 01:20] #226 closed, assigned to simonwiles

[2019-12-11 01:34] #213 closed, assigned to nobody

[2019-12-11 02:13] broadwell opened #229 "SVG export enhancements"
- [x] SVG export should reflect whether any voices have been "muted" via the voices legend
- [x] Tempo markings should not run off the right edge of the score window when they appear in the top right.
- [x] SVG export should use "Highlight Extreme Notes" highlighting if selected.
- [ ] SVG export should also include the voices legend

[2019-12-11 02:19] #194 closed, assigned to nobody

[2019-12-11 02:19] #196 closed, assigned to nobody

[2019-12-11 02:35] broadwell commented on #194
We have accommodated this as much as we're comfortable doing, even allowing voice ribbons to overlap in rare cases. The only remaining option for spacing the voices even closer together would be to display and center each voice strictly within its own note range, rather than the current choice of positioning each voice within a staff that is centered on middle C and extends as many notes up and do

[2019-12-12 23:45] broadwell commented on #229
We feel that we've addressed all of the potential enhancements that can be accomplished in a reasonable amount of time.

[2019-12-12 23:45] #229 closed, assigned to simonwiles

[2019-12-13 18:53] broadwell opened #232 "Make extreme notes more prominent"
There are a few fairly related approaches to this that we will pursue. An additional factor to consider is the degree to which the changes also will make the extreme notes more visible in an exported SVG that is printed in greyscale (as is likely to be the case with most physical publications).

- [x] Always draw notes layers above ribbons (at present, the layering is somewhat erratic).
- [x] Deco

[2019-12-14 03:49] craigsapp opened #233 "new url for website"
The new URL for the website is https://ribbon.stanford.edu:

<img width="1312" alt="Screen Shot 2019-12-13 at 19 42 06" src="https://user-images.githubusercontent.com/3487289/70843064-db755100-1de0-11ea-9945-637552c224a6.png">

Links on the work pages on https://josquin.stanford.edu have been updated to point to the new URL.  In theory https://ribbon.humdrum.org will automatically forward to the n

[2019-12-14 03:49] #233 closed, assigned to nobody

[2019-12-18 23:28] simonwiles commented on #232
Closed by #234 and #236.

[2019-12-18 23:28] #232 closed, assigned to nobody